div{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header-container{
  position: relative;
  display: flex;
  justify-content: center;
  background-color: yellowgreen;
  padding: 0.5%;
  text-decoration: underline;

}

.header-container div{
  background-color: white;
  border-radius: 20px;
  padding: 1%;
}